.wrp {
  width: 100%;
  height: 70px;
  padding: 0 30px;
  display: inline-flex;

  .spacer {
    flex-grow: 1;
  }

  .sum {
    font-weight: 700;
    font-size: 1.5rem;
  }

  span {
    line-height: 70px;
  }
}